<h1>Welcome, <%= @user.name %>!</h1>

<%= button_tag, value: Find Inspiration, id: "recommand-button" %>

<h2>This week, you have had: </h2>

  <ul>
    <% @intakes.each do |intake| %>
    <li><%= link_to intake.dish.name, intake.dish %></li>
    <% end %>
  </ul>

  <%= form_tag do %>
    <%= label_tag(:q, "I have also had:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search", class: "search-dish") %>
  <% end %>

  <div class="results"></div>

<h2>Nutrient intakes: </h2>
  <ul>
    <% @nutrient_intakes.each do |nutrient, intake| %>
    <li><%= "#{nutrient}: #{intake}" %></li>
    <% end %>
  </ul>
