<h1>Welcome, <%= @user.name %>!</h1>

<div class="row">

  <div class="small-6 large-7 columns">
    <h2>This week, you have had: </h2>

    <table>
      <% @intakes.each do |meal| %>
        <tr>
          <td><%= meal.serving %>g</td>
          <td><%= link_to meal.dish.name, meal.dish %></td>
          <td><%= meal.date %></td>
          <td><%= link_to "Delete", "/users/#{current_user.id}/intakes/#{meal.id}", method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="small-6 large-5 columns">
    <%= link_to "Find Inspiration", dishes_path %>

    <div class="intake-ops">
      <div id="intake-primary" class="show">
        <%= form_tag remote: true do %>
          <%= label_tag(:q, "I have also had:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search", class: "search-dish") %>
        <% end %>
        <div class="results"></div>
      </div>
      <div id="intake-secondary" class="hide">
        <%= form_for [@user, @intake], remote: true do |f| %>

          <%= f.collection_select(:dish_id, Dish.all, :id, :name) %>

          <%= f.label :serving %>
          <%= f.number_field :serving %>

          <% f.label :date %>
          <%= f.date_select :date %>

          <%= f.submit value: "Confirm", id: "intake-submit" %>
        <% end %>
      </div>
    </div>
  </div>

</div>

  <div class="row">
    <div class="nutrient-intakes">
      <h2>Nutrient intakes: </h2>
      <ul>
        <% @nutrient_intakes.each do |nutrient, intake| %>
        <li><%= "#{nutrient}: #{intake.round(2)}%" %></li>
        <% end %>
      </ul>
    </div>
  </div>

